<library path="src">
    <class name="NotesPlugin" type="march_rqt_note_taker.notes_plugin.NotesPlugin" base_class_type="rqt_gui_py::Plugin">
        <description>
            An RQT plugin for monitoring log messages and writing logs.
        </description>
        <qtgui>
            <label>March Minutes</label>
            <icon>resource/img/march-walking.png</icon>
            <statustip>March Minutes</statustip>
        </qtgui>
    </class>
</library>
