.libs/
*.log
*.trs
exam.gar
exam_archive
exam_clifford
exam_collect
exam_color
exam_differentiation
exam_factor
exam_function_exvector
exam_heur_gcd
exam_indexed
exam_inifcns
exam_inifcns_nstdsums
exam_inifcns_elliptic
exam_lsolve
exam_matrices
exam_misc
exam_pgcd
exam_mod_gcd
exam_normalization
exam_sqrfree
exam_numeric
exam_paranoia
exam_polygcd
exam_relational
exam_collect_common_factors
exam_powerlaws
exam_pseries
exam_chinrem_gcd
exam_real_imag
exam_structure
exam_match
exam_parser
check_inifcns
check_lsolve
check_matrices
check_numeric
check_cra
time_antipode
time_dennyfliegner
time_fateman_expand
time_gammaseries
time_lw_A
time_lw_B
time_lw_C
time_lw_D
time_lw_E
time_lw_F
time_lw_G
time_lw_H
time_lw_IJKL
time_lw_M1
time_lw_M2
time_lw_N
time_lw_O
time_lw_P
time_lw_Pprime
time_lw_Q
time_lw_Qprime
time_parser
time_toeplitz
time_uvar_gcd
time_vandermonde
