---
Checks:          '-*,portability-*,bugprone-*'
WarningsAsErrors: '*'
HeaderFilterRegex: ''
FormatStyle:     webkit
CheckOptions:
    - key:      bugprone-argument-comment.CommentBoolLiterals
      value:    '1'
    - key:      bugprone-argument-comment.CommentIntegerLiterals
      value:    '1'
    - key:      bugprone-argument-comment.CommentFloatLiterals
      value:    '1'
    - key:      bugprone-argument-comment.CommentStringLiterals
      value:    '1'
    - key:      bugprone-argument-comment.CommentCharacterLiterals
      value:    '1'
    - key:      bugprone-argument-comment.CommentUserDefinedLiterals
      value:    '1'
    - key:      bugprone-argument-comment.CommentNullPtrs
      value:    '1'
...

