---
BasedOnStyle: WebKit
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: None
AllowShortLoopsOnASingleLine: false
BinPackArguments: true
BinPackParameters: true
BreakStringLiterals: true
ColumnLimit: 120
FixNamespaceComments: true
IndentCaseLabels: true
Language: Cpp
Standard: c++11
...
