---
Checks:     -*,
            portability-*,
            bugprone-*,
            cert-*,
            -cert-err58-cpp,
            clang-analyzer-*,
            concurrency-*,
            hicpp-*,
            -hicpp-special-member-functions,
            -hicpp-no-array-decay,
            -hicpp-vararg,
            -hicpp-avoid-goto,
            concurrency-*,
            performance-*
WarningsAsErrors: '*'
HeaderFilterRegex: ''
FormatStyle:     webkit
CheckOptions:
    - key:      bugprone-assert-side-effect.AssertMacros
      value:    'assert,ASSERT_TRUE, EXPECT_TRUE, ASSERT_FALSE, EXPECT_FALSE, ASSERT_EQ, EXPECT_EQ, ASSERT_NE, EXPECT_NE, ASSERT_LT, EXPECT_LT, ASSERT_LE, EXPECT_LE, ASSERT_GT, EXPECT_GT, ASSERT_GE, EXPECT_GE, ASSERT_STREQ, EXPECT_STREQ, ASSERT_STRNE, EXPECT_STRNE, ASSERT_STRCASEEQ, EXPECT_STRCASEEQ, ASSERT_STRCASENE, EXPECT_STRCASENE, ASSERT_THROW, EXPECT_THROW, ASSERT_ANY_THROW, EXPECT_ANY_THROW, ASSERT_NO_THROW, EXPECT_NO_THROW, ASSERT_FLOAT_EQ, EXPECT_FLOAT_EQ, ASSERT_DOUBLE_EQ, EXPECT_DOUBLE_EQ, ASSERT_NEAR, EXPECT_NEAR, ASSERT_THAT, EXPECT_THAT,ROS_ASSERT,ROS_ASSERT_MSG,ROS_ASSERT_CMD'
    - key:      bugprone-assert-side-effect.CheckFunctionCalls
      value:    '1'
    - key:      bugprone-argument-comment.CommentBoolLiterals
      value:    '1'
    - key:      bugprone-argument-comment.CommentIntegerLiterals
      value:    '1'
    - key:      bugprone-argument-comment.CommentFloatLiterals
      value:    '1'
    - key:      bugprone-argument-comment.CommentStringLiterals
      value:    '1'
    - key:      bugprone-argument-comment.CommentCharacterLiterals
      value:    '1'
    - key:      bugprone-argument-comment.CommentUserDefinedLiterals
      value:    '1'
    - key:      bugprone-argument-comment.CommentNullPtrs
      value:    '1'
    - key:      bugprone-misplaced-widening-cast.CheckImplicitCasts
      value:    '1'
    - key:      bugprone-suspicious-enum-usage.StrictMode
      value:    '1'
    - key:      hicpp-signed-bitwise.IgnorePositiveIntegerLiterals 
      value:    '1'
    - key:      performance-inefficient-string-concatenation.StrictMode
      value:    '1'
...
