[flake8]
# We use a longer line length of 120, rather than using the flake8 default of 79:
max-line-length = 120
show-source = false
min-coverage-percents = 0
docstring-convention=google
exclude =
    .git,
    __init__.py,
    build,
    install,
    log,
    libraries,
    .venv_march,
    .scripts,
    test
enable-extensions =
    B901,
    B902,
    B903,
    B950
ignore =
    # See https://github.com/PyCQA/pycodestyle/issues/373
    E203,
    # This gives errors if the lines are too long, but we use the black formatter which has different settings
    E501,
    # This warning conflicts with the black formatter
    W503,
    C812,
    C815,
    C816
    PIE803,     # This is not relevant for the rclpy logger
    RST201,
    RST206,
    SIM106,     # Gives a lot of false positives
    VNE001,     # Not really necessary
    D107,       # Requires docstring to be init, but we document it at class level.
# The following are ignored due to missing docstring in old code.
per-file-ignores =
    ros1/*/setup.py:D100,
    ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/joint_setting_spin_box_delegate.py:D417,
    ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/side_subgait_view.py:D,
    ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/time_slider_thread.py:D,
    ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_view.py:D,
    ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/side_subgait_controller.py:D,
    ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/joint_plot.py:D,
    ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_plugin.py:D,
    ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/joint_table_controller.py:D,
    ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/model/modifiable_setpoint.py:D,
    ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/model/modifiable_subgait.py:D,
    ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/model/modifiable_joint_trajectory.py:D,
    ros1/src/march_launch/scripts/upload_controller_values.py:D,
    ros1/src/balance/march_moveit_interface/setup.py:D,
    ros1/src/balance/march_moveit_interface/src/march_moveit_interface/moveit_interface.py:D,
    ros1/src/balance/march_moveit_interface/src/march_moveit_interface/moveit_interface_node.py:D,
    ros1/src/shared/march_shared_classes/setup.py:D,
    ros1/src/shared/march_shared_classes/src/march_shared_classes/exceptions/general_exceptions.py:D,
    ros1/src/shared/march_shared_classes/src/march_shared_classes/exceptions/gait_exceptions.py:D,
    ros1/src/shared/march_shared_classes/src/march_shared_classes/utilities/vector_3d.py:D,
    ros1/src/shared/march_shared_classes/src/march_shared_classes/utilities/utility_functions.py:D,
    ros1/src/shared/march_shared_classes/src/march_shared_classes/utilities/side.py:D,
    ros1/src/shared/march_shared_classes/src/march_shared_classes/gait/subgait_graph.py:D,
    ros1/src/shared/march_shared_classes/src/march_shared_classes/gait/joint_trajectory.py:D,
    ros1/src/shared/march_shared_classes/src/march_shared_classes/gait/setpoint.py:D,
    ros1/src/shared/march_shared_classes/src/march_shared_classes/gait/subgait.py:D,
    ros1/src/shared/march_shared_classes/src/march_shared_classes/gait/gait.py:D,
    ros1/src/shared/march_shared_classes/src/march_shared_classes/gait/limits.py:D,
    ros1/src/shared/march_shared_classes/src/march_shared_classes/foot_classes/foot.py:D,
    ros1/src/shared/march_shared_classes/src/march_shared_classes/foot_classes/feet_state.py:D,
    ros1/src/data/march_data_collector/setup.py:D,
    ros1/src/data/march_data_collector/src/march_data_collector/inverted_pendulum.py:D,
    ros1/src/data/march_data_collector/src/march_data_collector/cp_calculator.py:D,
    ros1/src/data/march_data_collector/src/march_data_collector/com_calculator.py:D,
    ros1/src/data/march_data_collector/src/march_data_collector/data_collector_node.py:D,
