dist: xenial
sudo: required
language: python
env:
  - ROS_DISTRO=kinetic
  - ROS_PARALLEL_JOBS="-j8 -l6"
  - ROSINSTALL_FILE="$TRAVIS_BUILD_DIR/dependencies.rosinstall"

before_install:
  - sudo sh -c "echo \"deb http://packages.ros.org/ros/ubuntu $(lsb_release -sc) main\"
      > /etc/apt/sources.list.d/ros-latest.list"
  - sudo apt-key adv --keyserver hkp://ha.pool.sks-keyservers.net:80 --recv-key $ROS_KEY
  - sudo apt-get update
  - sudo apt-get install -y python-wstool ros-$ROS_DISTRO-ros-base
  - sudo rosdep init
  - rosdep update
  - source /opt/ros/$ROS_DISTRO/setup.bash

install:
  - pip install colcon-common-extensions catkin_lint
  - mkdir -p $JOB_PATH/ws/src
  - cp -R $TRAVIS_BUILD_DIR $JOB_PATH/ws/src/
  - cd $JOB_PATH/ws
  - wstool init src $ROSINSTALL_FILE
  - wstool update -t src
  - rosdep install -y --from-paths src --ignore-src --rosdistro $ROS_DISTRO

script:
  - colcon build
  - catkin_lint -W2 $TRAVIS_BUILD_DIR
  - colcon test
  - colcon test-result --test-result-base $JOB_PATH/ws/test_results --all
