# The software department will always be marked as a CODEOWNER.
[Software department]
* @AlexanderJamesBecoy @alexandar.andonov @femkebuiks @mhabers

[Software license]
LICENSE @ThijsRay @wnederpel @AlexanderJamesBecoy
LICENSE-ADDITIONAL-TERMS.md @ThijsRay @wnederpel @AlexanderJamesBecoy

[CI/CD and Pipeline]
.catkin_lint @MarcoBak @George_Vegelien @AlexanderJamesBecoy
.clang-format @MarcoBak @George_Vegelien @AlexanderJamesBecoy
.clang-format-ignore @MarcoBak @George_Vegelien @AlexanderJamesBecoy
.clang-tidy @MarcoBak @George_Vegelien @AlexanderJamesBecoy
.gitlab-ci.yml @MarcoBak @George_Vegelien @AlexanderJamesBecoy
Dockerfile @MarcoBak @George_Vegelien @AlexanderJamesBecoy
/.scripts/ @MarcoBak @George_Vegelien @AlexanderJamesBecoy
.flake8 @MarcoBak @George_Vegelien @AlexanderJamesBecoy

^[C/C++]
*.cpp @AlexanderJamesBecoy @alexandar.andonov @femkebuiks
*.hpp @AlexanderJamesBecoy @alexandar.andonov @femkebuiks
*.c @AlexanderJamesBecoy @alexandar.andonov @femkebuiks
*.h @AlexanderJamesBecoy @alexandar.andonov @femkebuiks

[Movement]
/ros2/src/gaits/march_gait_files @floorheijs @wnederpel

[Control]
/ros2/src/control/ @George_Vegelien

[Data visualizations]
/ros2/src/visualization/march_mpc_visualization @ttveen

[ROS2 transition]
/ros2/src/simulation/march_fake_sensor_data @ThijsRay
/ros2/src/visualization/march_rqt_input_device @kschmahl @BasVolkers
/ros2/src/visualization/march_rqt_gait_version_tool @kschmahl
/ros2/src/visualization/march_rqt_note_taker @BasVolkers
/ros2/src/visualization/march_rqt_robot_monitor @BasVolkers
/ros2/src/safety/march_safety @BasVolkers
/ros2/src/shared/march_robot_information @BasVolkers
/ros2/src/shared/march_utility @BasVolkers @kschmahl @wnederpel
/ros2/src/shared/march_description @kschmahl @ttveen
/ros2/src/gait/march_gait_selection @kschmahl BasVolkers

[Gaits]
/ros2/src/gaits/march_goniometric_ik_solver @jsdewolde
/ros2/src/gaits/march_gait_preprocessor @martenhaitjema
/ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_interpolation @martenhaitjema

[Mujoco Simulation]
/ros2/src/mujoco_simulation/src/mujoco_interfaces @sahand_w @MarcoBak
/ros2/src/mujoco_simulation/src/mujoco_reader @sahand_w @MarcoBak
/ros2/src/mujoco_simulation/src/mujoco_sim @sahand_w @MarcoBak
/ros2/src/mujoco_simulation/src/mujoco_writer @sahand_w @MarcoBak

[Hardware]
/ros2/src/hardware/broadcasters @MarcoBak @George_Vegelien
/ros2/src/hardware/interface @MarcoBak @George_Vegelien

[State estimator]
/ros2/src/state_estimator @sahand_w @MarcoBak

[footstep_generator]
/ros2/src/footstep_generator @sahand_w

[State Machine]
/ros2/src/state_machine @MarcoBak
