mock==4.0.3
argcomplete==1.12.3
pytest-repeat==0.9.1
pytest-rerunfailures==10.2
pytest==6.2.5
pyqtgraph==0.11.0
numpy_ringbuffer==0.2.1
Flask==2.0.3
scipy==1.7.1
parameterized==0.8.1 
numpy==1.21.2
pyrealsense2==2.50.0.3812
opencv-python==4.5.5.64
setuptools~=45.2.0
attrs~=19.3.0
PyYAML~=5.3.1
PyQt5~=5.14.1
matplotlib~=3.1.2
Jinja2~=3.1.2
mujoco~=2.3.0
pinocchio
mathparser @ git+https://gitlab.com/project-march/libraries/mathparser@main