<launch>
    <arg name="ping_safety_node" default="true"/>

    <node name="$(anon rqt_input_device)" pkg="march_rqt_input_device_ros2" exec="march_rqt_input_device_ros2" output="screen">
        <param name="ping_safety_node" value="$(arg ping_safety_node)"/>
        <param name="use_sim_time" value="True"/>
    </node>
</launch>
