<library path="src">
    <class name="NotesPlugin" type="march_rqt_note_taker.notes_plugin.NotesPlugin" base_class_type="rqt_gui_py::Plugin">
        <description>
            An RQT plugin for monitoring log messages and writing logs.
        </description>
        <qtgui>
            <group>
                <label>March</label>
                <icon>resource/img/march-walking.png</icon>
                <statustip>Plugins related to the March exoskeleton.</statustip>
            </group>
            <label>March Note Taker</label>
            <icon>resource/img/march-walking.png</icon>
            <statustip>GUI to take notes while using the March exoskeleton.</statustip>
        </qtgui>
    </class>
</library>
