<launch>
    <arg name="robot" default="march4" doc="The robot to run. Can be: march3, march4, test_joint_linear, test_joint_rotational."/>

    <rosparam file="$(find march_hardware_interface)/config/$(arg robot)/controllers.yaml" command="load"/>

    <param name="robot_description"
           command="$(find xacro)/xacro --inorder '$(find march_description)/urdf/$(arg robot).xacro'" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="true" ns="/"
          args="
                /march/controller/joint_state
                /march/controller/temperature_sensor
                /march/controller/trajectory
            "
    />

    <node
            launch-prefix="ethercat_grant"
            name="hardware_interface"
            pkg="march_hardware_interface"
            type="march_hardware_interface_node"
            args="$(arg robot)"
            output="screen"
            required="true"
    />
</launch>
