<launch>
    <rosparam file="$(find march_hardware_interface)/config/hardware.yaml" command="load"/>
    <rosparam file="$(find march_hardware_interface)/config/controllers.yaml" command="load"/>
    <rosparam file="$(find march_hardware_interface)/config/joint_limits.yaml" command="load"/>

    <node name="march_hardware_interface" pkg="march_hardware_interface" type="march_hardware_interface_node" output="screen"/>


</launch>