<launch>
    <rosparam file="$(find march_hardware_interface)/config/march4/controllers.yaml" command="load"/>

    <param name="robot_description"
           command="$(find xacro)/xacro --inorder '$(find march_description)/urdf/march-iv.xacro'" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="true" output="screen" ns="/"
          args="
                /march/controller/joint_state
                /march/controller/temperature_sensor
                /march/controller/trajectory
            "/>

    <node name="march_hardware_interface" pkg="march_hardware_interface" type="march_hardware_interface_node" args="march4" output="screen"/>

</launch>
