<launch launch-prefix="gdb -ex run --args">

    <machine name="localhost" address="127.0.0.1">
    </machine>

    <node name="march_ethercat" pkg="march_ethercat" type="march_ethercat_node" required="true" output="screen">
        <rosparam>
            <!-- Network interface name -->
            <!-- Device-specific parameter! -->
            ifname: 'enp4s0f2'
        </rosparam>
        <rosparam>
            <!-- EtherCAT cycle time -->
            EthercatCycleTime: 200
        </rosparam>
        <rosparam param="slaves">
            <!-- Map of slaves and their names -->
            <!-- Format: <NAME> : <TYPE> -->
            master: MASTER
            testGES: TEMPLATEGES
        </rosparam>
    </node>

</launch>
