# ignore mpc_code_generator build and executable files
/src/mpc_code_generator/build
/src/mpc_code_generator/References
/src/mpc_code_generator/mpc

# ignore Clion directories
/cmake-build-debug
/.idea
/../../.idea

