<launch>
    <node name="march_rqt_robot_monitor_node"
          pkg="march_rqt_robot_monitor"
          type="march_rqt_robot_monitor_node"
          output="screen">
    </node>

    <node pkg="diagnostic_aggregator" type="aggregator_node" name="diag_agg" output="screen">
        <rosparam command="load" file="$(find march_rqt_robot_monitor)/config/analyzers.yaml"/>
    </node>

    <node pkg="rqt_robot_monitor" type="rqt_robot_monitor" name="rqt_robot_monitor"/>
</launch>
