#!/usr/bin/env python
PACKAGE = "march_stone_finder"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()
# A dynamic reconfigurable parameter can be added by:
#   gen.add(str: param_name, type, level, str: description, value, lower_bound, upper_bound)
#   More info, see: http://wiki.ros.org/dynamic_reconfigure/Tutorials/HowToWriteYourFirstCfgFile


preprocessor = gen.add_group("Preprocessor", type="collapse", state=True)
preprocessor.add("connectivity", int_t, 0, "Minimum connectivity of connected components", 8, 0, 100)
preprocessor.add("minimum_connected_component_size", int_t, 0, "Minimum number of pixels a connected component should have", 1000, 0, 5000)
preprocessor.add("ellipse_similarity_threshold", double_t, 0, "Required similarity cost for a shape to be considered an ellipse", 0.9, 0.01, 1.0)
preprocessor.add("minimum_ellipse_size", double_t, 0, "Minimum number of pixels an ellipse should have", 40, 0, 5000)


exit(gen.generate(PACKAGE, "march_stone_finder", "parameters"))
