<launch>
    <!-- Load the URDF into the ROS Parameter Server -->
    <param name="robot_description" textfile="$(find march_description)/urdf/march4.urdf"/>

    <!-- Start the robot state publisher to publish tf frames -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <!-- Use the gui to easily change the joint_states with sliders -->
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>

    <!-- Start the visualization tool rviz -->
    <node name="rviz" pkg="rviz" type="rviz"/>
</launch>
