<launch>
    <arg name="use_sim_time" default="true" doc="Uses simulated time and publishes on /clock."/>
    <arg name="gazebo_ui" default="true" doc="Launches the Gazebo UI."/>
    <arg name="debug" default="false" doc="Starts gazebo debugging with gdb."/>
    <arg name="fixed" default="true" doc="Fixes the exoskeleton in the world"/>
    <arg name="ground_gait" default="false" doc="Exoskeleton will ground gait if true."/>
    <arg name="obstacle" default="none" doc="Obstacle to load in the simulation."/>

    <arg name="robot" default="march4" doc="Robot to use."/>
    <arg name="robot_description" default="$(arg robot)" doc="URDF file to use"/>
    <arg name="controller_type" default="effort_control" doc="Changes the controller used by simulation."/>
    <arg name="controller_name" default="$(arg robot)" doc="Name of the controller"/>
    <arg name="realsense_simulation" default="true"
         doc="Whether the simulation camera or the physical camera should be used"/>

    <!-- Upload the controller configuration -->
    <rosparam file="$(find march_simulation)/config/airgait/$(arg controller_type)/$(arg controller_name).yaml"
              command="load" unless="$(eval ground_gait)"/>
    <rosparam file="$(find march_simulation)/config/groundgait/$(arg controller_type)/$(arg controller_name).yaml"
              command="load" if="$(eval ground_gait)"/>

    <group ns="march">
        <node name="controller_spawner" pkg="controller_manager" type="controller_manager"
              respawn="false" output="screen"
              args="spawn controller/trajectory joint_state_controller"
              launch-prefix="valgrind --tool=callgrind --callgrind-out-file='callgrind.controller_manager.%p'"/>

        <node name="upload_joint_names" pkg="march_simulation" type="upload_joint_names" launch-prefix="valgrind --tool=callgrind --callgrind-out-file='callgrind.upload_joint_names.%p'"/>
        <node name="set_obstacle_node" pkg="march_simulation" type="set_obstacle_dimensions" launch-prefix="valgrind --tool=callgrind --callgrind-out-file='callgrind.set_obstacle_node.%p'"/>

    </group>

    <group>
        <!-- We resume the logic in empty_world.launch_sm, changing only the name of the world to be launched -->
        <include file="$(find gazebo_ros)/launch/empty_world.launch">
            <arg name="world_name" value="$(find march_simulation)/worlds/march.world"/>
            <arg name="debug" value="$(arg debug)" />
            <arg name="gui" value="$(arg gazebo_ui)" />
            <arg name="paused" value="false"/>
            <arg name="use_sim_time" value="$(arg use_sim_time)"/>
            <arg name="verbose" value="true" />
        </include>

        <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
        <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false"
          args="-urdf -model march -param robot_description"
          launch-prefix="valgrind --tool=callgrind --callgrind-out-file='callgrind.urdf_spawner.%p'"/>
    </group>



    <group if="$(eval obstacle != 'none')">
        <param name="model_description"
           command="$(find xacro)/xacro '$(find march_simulation)/obstacles/$(arg obstacle).xacro'" />

        <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
        <node name="model_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false"
          args="-urdf -model $(arg obstacle) -param model_description" launch-prefix="valgrind --tool=callgrind --callgrind-out-file='callgrind.model_spawner.%p'"/>
    </group>
</launch>
