<launch>

    <!-- Load the URDF into the ROS Parameter Server -->
    <param name="robot_description"
           command="$(find xacro)/xacro --inorder '$(find march_description)/urdf/march-iii.xacro'" />

        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen">
<!--            <param name="tf_prefix" value="/frame1"/>-->
        </node>
<!--        <node name="joint_state1" pkg="joint_state_publisher" type="joint_state_publisher" respawn="true" output="screen">-->
<!--            <param name="use_gui" value="true"/>-->
<!--            <param name="tf_prefix" value="test"/>-->
<!--        </node>-->


    <!--    <node name="march_gait_generator" pkg="march_gait_generator" type="march_gait_generator" output="screen"/>-->
</launch>