.deps/
.dirstamp
core
*.o
*.lo
*.la
*.pyc
*~
*.orig
*.rej
core
Makefile.in
Makefile
libtool
aclocal.m4
autom4te.cache/
configure
config.h
config.log
config.status
ginac.pc
GiNaC.spec
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
build/
