<launch launch-prefix="gdb -ex run --args">

    <machine name="localhost" address="127.0.0.1">
    </machine>


    <!-- Parameter server -->

    <rosparam>

        <!-- EXOSKELETON CONFIGURATION 	-->

        NUMBER_OF_JOINTS: 6
        NUMBER_OF_GES: 5
        NUMBER_OF_PDB: 1
        NUMBER_OF_IPD: 1

        LIST_OF_JOINTS: [RHJ, LHJ, RKJ, LKJ, RAJ, LAJ]
        LIST_OF_GES: [BPG, LUG, RUG, LLG, RLG]

        LIST_OF_SLAVES: [MAS, PDB, BPG, LHJ, LUG, LKJ, LLG, LAJ, RHJ, RUG, RKJ, RLG, RAJ, IPD]

        <!-- COMMUNICATION CONFIGURATION -->

        <!-- ethercat cycle speed in milliseconds/cycle -->
        ETHERCAT_CYCLE_TIME: 4

        <!-- speed of homing in degrees/second -->
        HOMING_SPEED: 15

        <!-- SOFTWARE CONFIGURATION -->

        DELIMITER: '~'

        <!-- JOINT SPECIFIC CONFIGURATION -->

        <!-- Max speed is given in degrees/second -->
        LIST_OF_JOINT_MAX_SPEED: [40, 40, 40, 40, 20, 20]
        LIST_OF_END_STOPS: [105, -15, 105, -15, 115, -5, 115, -5, 15, -20, 17, -21]
        LIST_OF_ACTUAL_ENCODER_STOPS: [43936, 22134, 31557, 9746, 39941, 18120, 43734, 21924, 1490, 1086, 1022, 631]
        LIST_OF_FIXED_POSITIONS: [121, 121, 121, 121, 9.5, 9.5]
        SOFT_STOP_MARGIN: 0
        HARD_STOP_MARGIN: 2.5

        <!-- Encoder resolution in bits -->
        LIST_OF_ENCODER_RESOLUTIONS: [16, 16, 16, 16, 12, 12]

        <!-- ERROR HANDLING CONFIGURATION -->

        <!-- Mapping to carry over bits from motion error register to safety register -->
        MOTION_ERROR_TO_SAFETY_MAPPING: [-1, 18, -1, 8, -1, -1, -1, -1, 16, 12, -1, 20, 11, 17, -1, 19]
        DETAILED_ERROR1_TO_SAFETY_MAPPING: [-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, 4, -1, -1, -1, -1, -1]
        DETAILED_ERROR2_TO_SAFETY_MAPPING: [-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1]

        <!-- Marge on maximum speed defined above at which the encoder wrong reading is triggered -->
        ENCODER_MAX_SPEED_MARGE: 5
        <!-- Maximum amount of times the above value may be exceeded before an error is called -->
        ENCODER_MAX_COUNTER: 3
        <!-- 	Minimum value for the maximum difference, resolution of the ankle encoders were to small compared to the noise to let
                it be dependend on the max speed -->
        ENCODER_MAX_DIFFERENCE_MIN: 50

        <!-- LOGGING CONFIGURATION -->

        <!-- Mapping of the joints to the connectors on the PDB -->
        JOINT_CONNECTOR_MAPPING: [LAJ, LKJ, LHJ, RAJ, RKJ, RHJ]

    </rosparam>

    <!-- SOFTWARE SYSTEM NODES -->

    <!--Hardware Communication -->

    <node machine="localhost" pkg="ethercat" type="led_test" name="hardwareCommunication" args="enp3s0" required="true">
    </node>

    <!--State Machine -->

    <node machine="localhost" pkg="statemachine" type="state_machine_main" name="stateMachine" required="true">
    </node>

    <!--Error Handler -->

    <node machine="localhost" pkg="errorhandler" type="error_handler" name="errorHandler" required="true">
    </node>

    <!--Gait Handler -->

    <node machine="localhost" pkg="gaithandler" type="gait_handler" name="gaitHandler" required="true">
    </node>

    <!-- LOGGING NODES -->

    <!--Data Logger -->

    <node machine="localhost" pkg="datalogger" type="data_logger" name="data_logger" required="true">
    </node>

    <!-- Topic Spy -->
    <!--
          <node machine="localhost" pkg="topicspy" type="topic_spy" name="topicSpy" required="true">
          </node>
    -->
    <!-- HARDWARE SYSTEM NODES (top to bottom) -->

    <!--PDB Handler -->

    <node machine="localhost" pkg="pdbhandler" type="pdb_handler" name="pdbhandler" required="true">
    </node>

    <!--IPD Handler -->

    <node machine="localhost" pkg="ipdhandler" type="ipd_handler" name="ipdhandler" required="true">
    </node>

    <!--Backpack Ges -->

    <group ns="BPG">
        <node machine="localhost" pkg="geshandler" type="ges_handler" name="BPGGesHandler" required="true">
        </node>
    </group>

    <!--Hip Joints -->

    <group ns="RHJ">
        <node machine="localhost" pkg="jointhandler" type="joint_handler" name="RHJJointHandler" required="true">
        </node>
    </group>

    <group ns="LHJ">
        <node machine="localhost" pkg="jointhandler" type="joint_handler" name="LHJJointHandler" required="true">
        </node>
    </group>

    <!--Upper Leg GESs -->

    <group ns="RUG">
        <node machine="localhost" pkg="geshandler" type="ges_handler" name="gesHandler" required="true">
        </node>
    </group>
    <group ns="LUG">
        <node machine="localhost" pkg="geshandler" type="ges_handler" name="gesHandler" required="true">
        </node>
    </group>

    <!--Knee Joints -->

    <group ns="RKJ">
        <node machine="localhost" pkg="jointhandler" type="joint_handler" name="RKJJointHandler" required="true">
        </node>
    </group>

    <group ns="LKJ">
        <node machine="localhost" pkg="jointhandler" type="joint_handler" name="LKJJointHandler" required="true">
        </node>
    </group>

    <!--Ankle Joints -->

    <group ns="RAJ">
        <node machine="localhost" pkg="jointhandler" type="joint_handler" name="RAJJointHandler" required="true">
        </node>
    </group>

    <group ns="LAJ">
        <node machine="localhost" pkg="jointhandler" type="joint_handler" name="LAJJointHandler" required="true">
        </node>
    </group>

    <!--Lower Leg GESs -->

    <group ns="RLG">
        <node machine="localhost" pkg="geshandler" type="ges_handler" name="gesHandler" required="true">
        </node>
    </group>
    <group ns="LLG">
        <node machine="localhost" pkg="geshandler" type="ges_handler" name="gesHandler" required="true">
        </node>
    </group>

</launch>
