<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:macro name="passive_joint">
    <sensor name="${name}">
        <state_interface name="position"/>
    </sensor>
</xacro:macro>

<ros2_control name="march" type="system">
  <hardware>
    <plugin>march_system_interface/MarchExoSystemInterface</plugin>
    <param name="robot">joints_test_setup</param>
  </hardware>

  <xacro:march_joint name="joint_name_ie"/>

</ros2_control>

</robot>
