<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <ros2_control name="march" type="system">

      <hardware>
        <plugin>gazebo_ros2_control/GazeboSystem</plugin>
      </hardware>
      <!--      <hardware>-->
      <!--        <plugin>ros2_control_demo_hardware/RRBotSystemPositionOnlyHardware</plugin>-->
      <!--        <param name="example_param_hw_start_duration_sec">0</param>-->
      <!--        <param name="example_param_hw_stop_duration_sec">3.0</param>-->
      <!--        <param name="example_param_hw_slowdown">100</param>-->
      <!--      </hardware>-->

      <joint name="left_ankle">
        <command_interface name="effort">
          <param name="min">-1000</param>
          <param name="max">1000</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="effort"/>
        <state_interface name="velocity"/>
      </joint>


      <joint name="left_hip_aa">
        <command_interface name="effort">
          <param name="min">-1000</param>
          <param name="max">1000</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="effort"/>
        <state_interface name="velocity"/>
      </joint>


      <joint name="left_hip_fe">
        <command_interface name="effort">
          <param name="min">-1000</param>
          <param name="max">1000</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="effort"/>
        <state_interface name="velocity"/>
      </joint>


      <joint name="left_knee">
        <command_interface name="effort">
          <param name="min">-1000</param>
          <param name="max">1000</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="effort"/>
        <state_interface name="velocity"/>
      </joint>


      <joint name="right_ankle">
        <command_interface name="effort">
          <param name="min">-1000</param>
          <param name="max">1000</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="effort"/>
        <state_interface name="velocity"/>
      </joint>


      <joint name="right_hip_aa">
        <command_interface name="effort">
          <param name="min">-1000</param>
          <param name="max">1000</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="effort"/>
        <state_interface name="velocity"/>
      </joint>


      <joint name="right_hip_fe">
        <command_interface name="effort">
          <param name="min">-1000</param>
          <param name="max">1000</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="effort"/>
        <state_interface name="velocity"/>
      </joint>


      <joint name="right_knee">
        <command_interface name="effort">
          <param name="min">-1000</param>
          <param name="max">1000</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="effort"/>
        <state_interface name="velocity"/>
      </joint>

    </ros2_control>

    <xacro:arg name="gazebo_control_file" default="NO FILE SPECIFIED"/>
    <gazebo>
      <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
        <robot_sim_type>gazebo_ros2_control/GazeboSystem</robot_sim_type>
        <parameters>$(arg gazebo_control_file)</parameters>
      </plugin>
    </gazebo>

</robot>
