<launch>
    <arg name="use_sim_time" default="true" doc="Uses simulated time and publishes on /clock."/>
    <arg name="fake_sensor_data" default="false" doc="Publishes fake sensor data."/>
    <arg name="gazebo_ui" default="true" doc="Launches the Gazebo UI."/>
    <arg name="debug" default="false" doc="Starts gazebo debugging with gdb."/>
    <arg name="fixed" default="true" doc="Fixes the exoskeleton in the world"/>
    <arg name="robot" default="march4" doc="The robot to run. Can be: march3, march4, test_joint_rotational."/>

    <!-- Load the URDF into the ROS Parameter Server -->
    <!-- Override effort values as Gazebo uses different units than the actual IMC. -->
    <!-- In theory, if the controller is properly tuned, these values can be arbitrarily large. -->
    <!-- However, to limit the safety controller, we need to limit them. -->
    <param name="robot_description"
           command="$(find xacro)/xacro --inorder '$(find march_description)/urdf/$(arg robot).xacro'
                    k_velocity_value_rotary:=60.0 k_velocity_value_linear:=60.0
                    k_position_value_rotary:=50.0 k_position_value_linear:=50.0
                    max_effort_rotary:=200.0 max_effort_linear:=40.0" />

    <!-- Upload the controller configuration -->
    <rosparam file="$(find march_simulation)/config/$(arg robot).yaml" command="load"/>

    <group ns="march">
        <node name="controller_spawner" pkg="controller_manager" type="spawner"
              args="controller/trajectory joint_state_controller"/>

        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
        <node name="upload_joint_names" pkg="march_simulation" type="upload_joint_names"/>
        <node name="world_transformer" pkg="march_simulation" type="to_world_transform" unless="$(arg fixed)"/>

        <include file="$(find march_fake_sensor_data)/launch/march_fake_sensor_data.launch" if="$(arg fake_sensor_data)"/>
    </group>

    <group>
        <!-- We resume the logic in empty_world.launch_sm, changing only the name of the world to be launched -->
        <include file="$(find gazebo_ros)/launch/empty_world.launch">
            <arg name="world_name" value="$(find march_simulation)/worlds/march.world"/>
            <arg name="debug" value="$(arg debug)" />
            <arg name="gui" value="$(arg gazebo_ui)" />
            <arg name="paused" value="true"/>
            <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        </include>

        <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
        <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false"
          args="-urdf -model march -param robot_description"/>
    </group>
</launch>
