<?xml version="1.0"?>
<robot  xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="safety_limits" params="safety limits">
        <limit velocity="${safety['max_velocity']}"
               effort="${safety['max_effort']}"
               lower="${limits['lower_limit']*pi/180}"
               upper="${limits['upper_limit']*pi/180}"/>
        <safety_controller
                soft_lower_limit="${limits['lower_limit']*pi/180 + safety['lower_soft_buffer']*pi/180}"
                soft_upper_limit="${limits['upper_limit']*pi/180 - safety['upper_soft_buffer']*pi/180}"
                k_position="${safety['k_position']}"
                k_velocity="${safety['k_velocity']}" />
    </xacro:macro>
</robot>