<?xml version="1.0"?>
<robot  xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="safety_limits" params="safety">
        <limit velocity="${safety['}"
               effort="${safety['max_effort']'}"
               lower="${safety['lower_limit']}"
               upper="${safety['upper_limit']}"/>
        <safety_controller soft_lower_limit="${safety['lower_limit'] + safety['lower_soft_buffer']}"
                   soft_upper_limit="${safety['upper_limit'] - safety['upper_soft_buffer']}"
                   k_position="${safety['k_position']}"
                   k_velocity="${safety['k_velocity']}" />
    </xacro:macro>
</robot>