.icon:before {
  white-space: pre-wrap !important;
}

.header-override {
  margin-bottom: 12px;
}

.header-override img {
  width: 200px;
}

.wy-breadcrumbs li.wy-breadcrumbs-aside {
  display: block;
  width: 100%;
  text-align: right;
  margin-bottom: -25px;
}

.wy-body-for-nav .wy-side-nav-search {
  background-color: #006a9c;
}

.red {
  color: red;
}

a {
  color: #005cfa;
}

a:hover {
  color: #9B58B6;
}

.rst-content .note {
  background-color: #ECECEC;
}

.rst-content .note .admonition-title {
  background-color: #777986;
}

.wy-menu {
  margin-top: 24px;
}

.wy-nav-side {
  background-color: #005A85;
}

.wy-side-nav-search {
  background-color: #006999;
}

.wy-side-nav-search input[type=text] {
  border-radius: 4px;
  width: 200px;
  border-color: #fff;
}

.wy-side-nav-search img {
  margin: 12px auto 5px;
  width: 180px;
  height: auto;
  background-color: transparent;
  padding: 0;
  border-radius: 0;
}

.wy-side-nav-search span {
  font-size: 12px;
  color: rgba(255,255,255,0.4);
  text-transform: uppercase;
  display: block;
  text-align: center;
}

.wy-menu-vertical a {
  color: #99dfff;
}

.caption-text {
  color: white;
}

.toctree-expand {
  color:white !important;
}

.wy-menu-vertical li.current a {
  color: #99dfff;
  background-color: #00344d;
  border-top: 0px solid #00344d;
  border-bottom: 0px solid #00344d;
  border-right: 0px solid #00344d;
}

.wy-menu-vertical li.current > a:hover {
  color: #99dfff;
  background-color: #005780;
  border-top: 0px solid #00344d;
  border-bottom: 0px solid #00344d;
}

.wy-menu-vertical li > a:hover {
  color: #99dfff;
  background-color: #00344d;
}

.wy-menu-vertical li.current a:hover {
  background-color: #007ab3 !important;
}
.wy-menu-vertical li.toctree-l2.current > a {
  background-color: #00344d;
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a {
  background-color: #00344d;
}

.header-override p {
  margin-bottom: 0;
  text-align: right;
}
